:root {
  --dark-blue: #113537;
  --white: #ffffff;
  --jade: #57A773;
  --lemon-lime: #F2FF49;
  --sky: #30C5FF;
}

ul li {
  list-style-type: none;

}

h2 {
  color: var(--dark-blue);
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". .";
  padding: 2% 0;
}

.nav-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.nav-item:nth-of-type(1) {
  justify-content: flex-start;
}

.nav-item:nth-of-type(2) {
  justify-content: flex-end;
}

.nav-item img {
  width: 250px;
  height: auto;
  margin-left: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  margin-right: 50px;
}

nav ul li {
  margin: 0 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
}

body {
  font-size: 24px;
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 15vw;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 5vw;
  line-height: .9em;
}

h3 {
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:600px) {
  h3 {
    font-size: 7vw;
  }
}

a {
  color: var(--dark-blue);
  transition: .25s ease-in-out;
}

a:hover {
  color: var(--jade);
}

.App {
  text-align: center;
}

.App-logo {
  width: 250px;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: var(--white);
  width: 100%;
  height: auto;
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". .";
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.header-section:nth-of-type(1) {
  justify-content: flex-start;
  padding-left: 5%;
}

.header-section:nth-of-type(2) {
  justify-content: flex-end;
  font-size: calc(20px + 5vmin);
}

.header-section:nth-of-type(2) ul {
  padding-right: 5%;
}

.header-section ul {
  display: flex;
  flex-direction: row;
}

.header-section ul li {
  list-style-type: none;
  margin: 0 10px;
  color: var(--dark-blue);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.intro {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.intro-container {
  width: 90%;
  height: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  text-align: center;
}

.intro-container p {
  padding: 5% 0;
}

/* .main {
  padding-bottom: 5%;
} */

.work {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding-bottom: 5%;
}

.work-container {
  width: 90%;
  height: auto;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "wi1 wi2"
    "wi3 wi2"
    "wi4 wi4"
    "wi5 wi6"
    "wi5 wi7"
    "wi8 wi8";
  gap: 25px;
}

@media screen and (max-width:800px) {
  .work-container {
    grid-template-areas:
      "wi1 wi2"
      "wi3 wi4"
      "wi5 wi6"
      "wi7 wi8";
  }
}

@media screen and (max-width:600px) {
  .work-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "wi1"
      "wi2"
      "wi3"
      "wi4"
      "wi5"
      "wi6"
      "wi7"
      "wi8";
  }
}

.work-item {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 5px solid var(--white);
  min-height: 400px;
  background-size: cover;
  /* background-position: center; */
  transition: 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .work-item:hover {
  scale: 1.05;
} */

.work-item:nth-of-type(1) {
  grid-area: wi1;
  background-image: url('./Images/ppaws-new-2.png');
}

.work-item:nth-of-type(2) {
  grid-area: wi2;
  background-image: url('./Images/ppaws-new-2.png');
}

.work-item:nth-of-type(3) {
  grid-area: wi3;
  background-image: url('./Images/casv.png');
}

.work-item:nth-of-type(4) {
  grid-area: wi4;
  background-image: url('./Images/beth.png');
}

.work-item:nth-of-type(5) {
  grid-area: wi5;
  background-image: url('./Images/abstract5.png');
}

.work-item:nth-of-type(6) {
  grid-area: wi6;
  background-image: url('./Images/abstract6.png');
}

.work-item:nth-of-type(7) {
  grid-area: wi7;
  background-image: url('./Images/abstract7.png');
}

.work-item:nth-of-type(8) {
  grid-area: wi8;
  background-image: url('./Images/abstract8.png');
}

.work-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.work-item h2 {
  color: var(--lemon-lime);
  padding: 0 5%;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding: 5% 0;
}

.footer-container {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.footer-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* color: var(--jade); */
  text-align: left;
}

.footer-item h3 {
  font-weight: 400;
  color: var(--dark-blue);
  font-weight: 900;
}

.footer-item a {
  text-decoration: none;
}

.footer-item ul li {
  list-style-type: none;
}

.footer-item img {
  width: 100%;
  height: auto;
}

.cta-outer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.cta-container {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cta-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.cta-item h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.cta-item:nth-of-type(1) {
  background: var(--lemon-lime);
  color: var(--dark-blue);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: left;
  padding-left: 5%;
}

.cta-item:nth-of-type(2) {
  background: var(--dark-blue);
  /* background-image: linear-gradient(45deg, var(--jade), var(--lemon-lime)); */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
  color: var(--white);
}

@media screen and (max-width:890px) {
  .cta-container {
    border-radius: 20px;
  }

  .cta-item:nth-of-type(1) {
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    padding-left: 0;
  }

  .cta-item:nth-of-type(2) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.contact-button {
  padding: 10px 10%;
  border: 2px solid var(--white);
  /* background: var(--dark-blue); */
  color: var(--white);
  text-decoration: none;
  border-radius: 20px;
  transition: .25s ease-in-out;
}

.contact-button:hover {
  background: var(--white);
  color: var(--dark-blue);
  scale: 1.1;
}

.about-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper {
  width: 90%;
  height: auto;
}

/* CONTACT PAGE STYLES */
.contact-page-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-wrapper {
  width: 90%;
  height: auto;
}

.contact-form {
  width: 50%;
  height: auto;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: ".";
}

.contact-btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  background: var(--white);
  padding: 10px 40px;
  overflow: hidden;
  transition: 1s;
  max-width: 200px;
  z-index: 1;
  margin-top: 25px;
}

.contact-btn:hover {
  color: var(--dark-blue);
  background: var(--white);
  border: 2px solid var(--dark-blue);
  box-shadow: 10px 10px 50px var(--dark-blue);
  cursor: pointer;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background: var(--white);
  color: var(--dark-blue);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.contact-btn:hover::before {
  transform: scaleX(1) skewX(35deg);
}